h1 {
  font-size: 1.8em;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}
.title-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.title-page-container hr {
  width: 80%;
  height: 2px;
  background-color: #6b6a6a;
  border: none;
  margin-top: -10px;
}
.title-page {
  font-size: 2em;
  color: #b80816;
  font-weight: bold;
  text-align: center;
}
.form-NuevoIngreso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -10px auto;
  /*border: 1px solid black;*/
}
.content-chips-carreras {
  border: 1px solid rgb(219, 217, 217);
}
.box-chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.chips {
  background-color: #b80816;
  font-size: 0.9em;
  font-style: normal;
  margin: 5px;
  padding: 2px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 251, 251);
  font-weight: bolder;
}
.chips:hover {
  cursor: pointer;
}
.chips > .status-chips {
  color: rgb(253, 253, 253);
}
.activo {
  font-weight: bolder;
}
.content-text-descript {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 60%;
  /*border: 1px solid black;*/
}
.content-text-descript span {
  margin-bottom: 4px;
}
.text-descript {
  color: gray;
}
.form-login-search {
  margin: 5px auto 5px auto;
  width: 60%;
  border: 2px solid "#ff0000";
  /*background-color: aliceblue;*/
  padding: 20px;
}
fieldset .form {
  border: 2px solid "#ff0000";
}
.detail-credencial {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 100px auto;
  border: 2px solid black;
  padding-left: 5em;
}
.form-login-alumno {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-login-alumno .input-group input {
  width: 100%;
  height: 15px;
  font-size: 1em;
  padding: 15px;
}
.form-login-alumno label {
  font-size: 1.3em;
  color: gray;
}
.form-login-alumno label:hover {
  color: #273481;
  font-weight: bold;
}
.form-login-alumno input {
  width: 550px;
  height: 25px;
  margin-bottom: 15px;
  font-size: 1.3em;
  padding: 15px;
  border-radius: 10px;
}
.btn-nuevoIngreso {
  padding: 5px;
  background-color: #e97a12;
  color: aliceblue;
  font-size: small;
  margin: 15px;
}
.btn-login {
  width: 550px;
  padding: 5px;
  background-color: #273481;
  color: aliceblue;
  font-size: large;
}
.btn-login:active {
  color: black;
  background-color: azure;
}
.match-credencial {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*justify-content: space-around;*/
}
.match-credencial > div {
  padding-top: 8px;
}
.match-credencial > div > label {
  font-weight: bold;
  padding-top: 10px;
  margin-top: 8px;
}
.values-data {
  padding-left: 5px;
}
.details-status {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}
.content-notifs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.notif-noMatchs {
  color: red;
  font-size: 1.5em;
}
.notif-impresa {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}
.notif-generada {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
  text-align: center;
}
.option-modals {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.fieldset-table-ni {
  width: 80%;
  padding: 35px;
}
.tittle-Matchcredencial {
  font-size: 1.5em;
  color: #b80816;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  font-style: normal;
  font-weight: bold;
}
.tittle-Matchcredencial::before {
  content: "🔹";
}
.regs-match-filtro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.tableMatchs {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
.tableMatchs tr td {
  border-bottom: 1px solid #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  text-align: center;
}
.tab-status-cred-alumns {
  padding: 3px 10px;
  font-size: smaller;
  font-weight: bold;
  color: #f8f6f6;
  border-radius: 5%;
}
.generada {
  background-color: #eb6f0a;
}
.impresa {
  background-color: #a80815;
}
.entregada {
  background-color: #51eb0a;
}
.modalidad-ni {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.numb-reg {
  font-weight: bold;
}
.content-avisos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0px auto;
  padding-bottom: 35px;
  border: 2px solid red;
  background-color: #1b1c7031;
  border-radius: 5px;
}
.content-avisos h3 {
  color: #b80816;
  font-size: 2em;
}
.cont-file-pict-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-items-aviso ul li {
  /*border: 1px solid gray;*/
  margin-bottom: 10px;
}
.count-carrer {
  background-color: rgba(9, 59, 151, 0.623);
  border-radius: 40%;
  margin-left: 5px;
  padding: 1px;
}

@media (min-width: 769px) {
  .form-login-alumno input {
    width: 370px;
  }
  .btn-login {
    width: 370px;
  }
}
@media (max-width: 768px) {
  .form-NuevoIngreso > h2 {
    font-size: 1.1em;
  }
  .form-login-alumno input {
    width: 300px;
  }
  .btn-login {
    width: 300px;
  }
  .form-login-search {
    width: 70%;
  }
  .content-avisos {
    width: 70%;
    /*margin-bottom: 200px;*/
  }
  .detail-credencial {
    width: 100%;
    margin: 28px auto;
    padding-left: 1em;
  }
  .regs-match-filtro {
    width: 100%;
    overflow-x: auto;
  }
  legend {
    font-size: 0.5em;
  }
  .chips {
    font-size: 0.5em;
  }
  .tableMatchs {
    font-size: 0.5rem;
  }
  .tableMatchs tr td {
    padding: 2px;
  }
  .modalidad-ni {
    max-width: 5px;
  }
  .tab-status-cred-alumns {
    padding: 0px;
  }
  .cont-file-pict-form {
    flex-direction: column;
  }
  .cont-file-pict-form img {
    width: 280px;
    padding-inline: 20px;
  }
}
@media (max-width: 385px) {
  .form-login-alumno input {
    font-size: 0.9em;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
  }
  .btn-login {
    width: 100%;
  }
  .form-login-alumno label {
    font-size: small;
  }
  .form-login-search {
    margin-top: 4px;
    width: 100%;
    padding: 0%;
  }
  .content-avisos {
    width: 100%;
  }
  .content-text-descript {
    width: 80%;
    font-size: 0.7em;
  }
  .notif-noMatchs {
    font-size: 1em;
  }
  .detail-credencial {
    font-size: 0.7em;
  }
  .match-credencial {
    flex-direction: column;
  }
  .chips {
    font-size: 0.5em;
  }
  .tableMatchs {
    font-size: 0.5em;
  }
  .tableMatchs tr td {
    padding: 1px;
  }
  .cont-file-pict-form {
    flex-direction: column;
  }
}
@media (max-width: 221px) {
  .btn-login {
    width: 150px;
  }
  .content-text-descript {
    width: 100%;
    padding: 15px;
    margin: 5px auto;
  }

  .header {
    margin-left: 13px;
    text-align: center;
    font-size: smaller;
  }
  .cont-file-pict-form {
    flex-direction: column;
  }
}
