:root {
  --gris: #ffffff;
  --fondo: #141414;
  --principal: #273481;
}
body {
  font-size: 15px;
}
ul,
li {
  text-decoration: none;
}
input {
  background-color: #ffffffff;
  color: #000000;
}
.navbar {
  display: flex;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  height: 80px;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0px auto;
  /*position: fixed;*/
}
.bg-personal {
  background-color: var(--principal);
}
.logotipo {
  font-family: "Bebas Neue", "Arial";
  padding-top: 10px;
  margin-right: 15px;
  font-weight: normal;
  color: var(--gris);
  font-size: calc(24px + 1vw, 24px, 32px);
  text-align: start;
  margin-left: 2em;
  text-decoration: none;
}
.text-logo {
  /*Clase de Texto Logo U.P.E.M. | PLANTEL TEXCOCO*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9em;
  /*font-weight: bolder;*/
  padding-top: 10px;
  padding-bottom: 5px;
}
.titulo {
  padding-bottom: 8px;
}

.text-logo:hover {
  color: beige;
}
.text-logo div {
  margin-bottom: -8px;
}
.navbar-item {
  color: #f5eeee;
  padding-top: 10px;
  font-size: 1.3em;
  list-style: none;
}
.nav-link {
  color: #f5eeee;
  text-decoration: none;
}
@media (min-width: 122px) {
  .logotipo {
    font-size: 1em;
  }
}

/* Modern Switch Styles */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #0ed6f1;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
  z-index: 2;
}

/* Sun and Moon icons inside the slider */
.slider .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.3s;
  z-index: 2;
}

.slider .sun {
  left: 6px;
  opacity: 1;
}

.slider .moon {
  right: 3px;
  opacity: 0;
}

input:checked + .slider {
  background-color: #4c0561;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}

/* Hover effect */
.slider:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
