:root {
  --bg-color: #ffffffe5;
  --text-color: #213547;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg: #f9f9f9;
  --card-bg: #9c9898;
  --navbar-bg: #273481; /* Bootstrap light navbar default */
  --navbar-text: rgba(0,0,0,.55);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark Mode Overrides */
body.dark-mode {
  --bg-color: #242424;
  --text-color: rgba(161, 158, 158, 0.87);
  --link-color: #646cff;
  --link-hover-color: #ffffff;
  --button-bg: #1a1a1a;
  --card-bg: #302e2e;
  --navbar-bg: #273481;
  --navbar-text: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--link-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Helper classes for components */
.card {
  background-color: var(--card-bg);
  color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--navbar-text);
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: var(--navbar-text);
}

body.dark-mode .navbar-light .navbar-brand {
    color: var(--navbar-text);
}
